<div class="container">
    <span>Authors:</span>
    <ul>
        <li><a href="https://github.com/Dim145" target="_blank">Dimitri Dubois</a></li>
        <li><a href="https://github.com/JulienDeveaux" target="_blank">Julien Deveaux</a></li>
    </ul>

    <p>Thanks to <a href="https://github.com/LeaG76" target="_blank">Léa Gallier</a> for the animation of the walnut loading.</p>
</div>