@using Index = nutCracker.Views.BlazorComponents.Index
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to the md5 cracker</h3>
</div>

<component type="typeof(Index)" render-mode="ServerPrerendered"/>