@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/index.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to the md5 cracker</h3>
    
    <input type="text" id="hash" class="form-control" />
    
    <p id="response">
        
    </p>
    
    <button class="btn btn-success" id="send">Déhasher</button>
</div>